extends base

block content
  #infoLogo
      a(href='/info')
          img(src="/styles/information-button.png")
      #logo-message 이 애플리케이션에 관하여
  h1#title 지구를 지켜라!
  h2#sub-title 내가 쓰는 플라스틱은 종류가 뭘까?
  #container
    form#uploadForm(action='/upload', method='POST', enctype='multipart/form-data')
      input#photoInput(type='file', name='photo', accept='image/*', required)
      button(type='submit') 알고싶어요!
  //- #websites 
  //-   a(href='')
  //-   #website