extends base
    
block content
    h1#title Welcome to EchoEdu
    #container
      video#video(autoplay=true)
      canvas#canvas(style='display:none;')
      form#uploadForm(action='/upload', method='POST', enctype='multipart/form-data')
        input#photoInput(type='file', name='photo', accept='image/*', required)
        button(type='submit') 알고싶어요!