extends base

block content
  h1#title 지구를 지켜라!
  h2#sub-title 내가 쓰는 플라스틱은 종류가 뭘까?
  #container
    form#uploadForm(action='/upload', method='POST', enctype='multipart/form-data')
      input#photoInput(type='file', name='photo', accept='image/*', required)
      button(type='submit') 알고싶어요!