doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel = 'stylesheet' href="/styles/css/info.css")
        title Document
    body 
        #background-block
        header 
            h1=pageTitle 
        nav 
            ul 
                li
                    a(href="/")
                        img(src="/styles/EchoEdu_Logo.png")
        #back-descript
            p 환경위기는 점점 지구 전체를 둘러싸고 있습니다. 이제는 실천할 때 입니다. 
            p 언제 어디서나, 당신을 위한 분리수거 실천 도우미 지구를 지켜라!와 함께 복잡한 분리수거 과정을 간편화해요!
        #app-descript
            h2 지구를 지켜라! 는?
            p 언제 어디서나, 당신을 위한 분리수거 실천 도우미
            p 복잡한 분리수거 과정을 간단하게 정리해줘요.
        #how-to-descript    
            p 1. 쓰레기 이미지를 찍어 업로드해주세요.
            p 2. 쓰레기의 정보와 재활용 방법을 파악해주세요.
            p 3. 쓰레기 이미지를 업로드하고 리워드를 획득하세요. 
        #back-to-home
            a(href="/")
                button 홈으로 돌아가기 