extends base

block content
    h1 Result
    .result-box
    img(src=imagePath, alt='Uploaded Photo')
    .info-box
    h2 Related Information
    p This is some related information about the uploaded photo.
    .recommendation-box
    h2 Recommendation
    p Here is a recommendation for additional services.