body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-image: url('background_img.png'); */
}

.container {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

button {
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: 3px solid black;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
/* 이전의 스타일들을 유지한 채로 아래의 스타일을 추가합니다. */

.result-box {
    margin-top: 20px;
    text-align: center;
}
  
.result-box img {
    width: 30%;
    height: 20%;
    max-width: 100%;
    max-height: 300px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.info-box, .recommendation-box {
    margin-top: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.info-box h2, .recommendation-box h2 {
    margin-bottom: 10px;
}
